
<div>
   <!-- <div>
      <app-header></app-header>
   </div> -->
    <header>
      <div class="logo">
        <img class="img" src="logo.png" />
        <div class="text">GenerMachine</div>
      </div>

      <div class="navigate">
        <div class="menu">
          <span class="title">
            <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#000000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            <span>Menu</span>
          </span>
          <nav>
            <a href="#hero"><span class="item">Hero</span></a>
            <a href="#description"><span class="item">Description</span></a>
            <a href="#service"><span class="item">Service</span></a>
            <a href="#contact"><span class="item">Contact</span></a>
            <a href="#footer"><span class="item">Footer</span></a>
          </nav>
        </div>
        <div class="menuL">
          <span>.Decore Ignore</span>
        </div>
      </div>

      <div class="other">
        <img class="img" src="logo.png" />
        <div class="text">General and  Machine</div>
      </div>
    </header>

  <main class="main">
    <div class="content">
      <section class="hero">
        <div id="hero" class="hero-Section">
          <div class="hero-description">
            <button class="hero-button">Projet Own</button>
            <p class="hero-title" data-aos="fade-up" data-aos-duration="1500">EMPOWERING SUSTAINABLE PROGRESS</p>
            <div class="hero-links">
              <button class="hero-link1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480h80q0 115 72.5 203T418-166l-58-58 56-56L598-98q-29 10-58.5 14T480-80Zm20-280v-240h120q17 0 28.5 11.5T660-560v160q0 17-11.5 28.5T620-360H500Zm-200 0v-60h100v-40h-60v-40h60v-40H300v-60h120q17 0 28.5 11.5T460-560v160q0 17-11.5 28.5T420-360H300Zm260-60h40v-120h-40v120Zm240-60q0-115-72.5-203T542-794l58 58-56 56-182-182q29-10 58.5-14t59.5-4q83 0 156 31.5T763-763q54 54 85.5 127T880-480h-80Z"/></svg>
              </button>
              <span class="hero-link2">
                <span data-aos="fade-up" data-aos-duration="2000">Free Out More</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M480-280q83 0 141.5-58.5T680-480q0-83-58.5-141.5T480-680q-83 0-141.5 58.5T280-480q0 83 58.5 141.5T480-280Zm0 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
              </span>
            </div>
          </div>
          <div class="hero-objet">
            <img src="img-circle-beton.png" alt="" class="hero-img">
          </div>

          <div class="hero-resume">
            <p>Our innovation green technologies pave the way for energy efficy</p>
            <span>
              <i>1</i>
              <i>2</i>
              <i>3</i>
            </span>
          </div>
        </div>
      </section>

      <section id="description" class="description-section">
        <div class="description-section-links">
          <div class="button1" data-aos="fade-up" data-aos-duration="1000"><span>Menu</span></div>
          <div class="button2" data-aos="fade-up" data-aos-duration="1500"><span>Ignore</span></div>
        </div>
        <div class="description-section-text">
          <p data-aos="fade-up" data-aos-duration="2000">
            OUR MISSION IS TO CREATE A SUSTAINABLE WORLD BY LEADING IN GREEN TECHNOLOGY INNOVATION.
            WITH A VISION OF REDUCING HUMANITY'S IMPACT ON THE PLANET, WE WORK TOWARD SOLUTIONS THAT SUPPORT A CLEANER, MORE RESILIENT FUTURE FOR ALL.
          </p>
        </div>
        <div class="description-section-bottom">
          <img src="/img-eolienne-natue.jpg" alt="" data-aos="zoom-in" data-aos-duration="1200">
          <p data-aos="zoom-in-left" data-aos-duration="1500">OUR MISSION IS TO CREATE A SUSTAINABLE WORLD BY LEADING IN GREEN TECHNOLOGY INNOVATION.</p>
        </div>
      </section>

      <section id="service" class="service-section">
        <div class="service-section-title">GrennMotive</div>
        <div class="service-section-cards">
          <div class="card" data-aos="zoom-in-right" data-aos-duration="1600"><button>Perspective</button>
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="38px" fill="#000000"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v240H160v240h400v80H160Zm0-480h640v-80H160v80ZM760-80v-120H640v-80h120v-120h80v120h120v80H840v120h-80ZM160-240v-480 480Z"/></svg>
            </i><span>ECO-URBAN DEVELOPPEMENT</span>
          </div>
          <div class="card" data-aos="zoom-in" data-aos-duration="1600"><button>Management</button>
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="38px" fill="#000000"><path d="M158-242q-37-50-57.5-110.5T80-480q0-67 20-127t57-110l58 57q-26 38-40.5 83.5T160-480q0 51 14.5 97t40.5 84l-57 57ZM480-80q-67 0-127-20t-110-57l57-58q38 26 83.5 40.5T480-160q51 0 96.5-14.5T660-215l57 58q-50 37-110 57T480-80Zm322-162-57-57q26-38 40.5-84t14.5-97q0-51-14.5-96.5T745-660l58-57q37 50 57 110t20 127q0 67-20.5 127.5T802-242ZM299-745l-57-57q50-37 110.5-57.5T480-880q68 0 128 20.5T718-802l-57 57q-38-26-84-40.5T480-800q-51 0-97 14.5T299-745Zm181 465q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280Z"/></svg>
            </i><span>CONSERVATION TECHNOLOGIQUE</span>
          </div>
          <div class="card" data-aos="zoom-in-left" data-aos-duration="1600"><button>Developpement</button>
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="38px" fill="#000000"><path d="M260-120q-58 0-99-41t-41-99q0-58 41-99t99-41h60v-160h-60q-58 0-99-41t-41-99q0-58 41-99t99-41q58 0 99 41t41 99v60h160v-60q0-58 41-99t99-41q58 0 99 41t41 99q0 58-41 99t-99 41h-60v160h60q58 0 99 41t41 99q0 58-41 99t-99 41q-58 0-99-41t-41-99v-60H400v60q0 58-41 99t-99 41Zm0-80q25 0 42.5-17.5T320-260v-60h-60q-25 0-42.5 17.5T200-260q0 25 17.5 42.5T260-200Zm440 0q25 0 42.5-17.5T760-260q0-25-17.5-42.5T700-320h-60v60q0 25 17.5 42.5T700-200ZM400-400h160v-160H400v160ZM260-640h60v-60q0-25-17.5-42.5T260-760q-25 0-42.5 17.5T200-700q0 25 17.5 42.5T260-640Zm380 0h60q25 0 42.5-17.5T760-700q0-25-17.5-42.5T700-760q-25 0-42.5 17.5T640-700v60Z"/></svg>
            </i><span>RESTORE OUR OCEANS</span>
          </div>
        </div>
      </section>

      <footer id="contact" class="contact-section">
        <img class="img-section" src="/img-terre.jpg" alt="" data-aos="zoom-in" data-aos-duration="2000">
        <div class="texts">
          <div class="texts-p">
            <div class="text1">Developing groundbreaking technologies for a greener future. </div>
            <div class="text2">Free Out More</div>
          </div>
          <div class="name-company">Nature</div>
        </div>
        <div id="footer" class="footer">
          <div class="logo" data-aos="fade-up" data-aos-duration="700">
            <img class="img" src="logo.png" />
            <div class="text">GenerMachine</div>
          </div>
          <form action="mailto:christiantukundastocklin@gmail.com" method="post" enctype="text/plain" class="form">
            <input type="email" placeholder="Enter your Email"  name="userEmail" id="" data-aos="fade-up" data-aos-duration="1400">
            <button type="submit" data-aos="fade-up" data-aos-duration="1800">Subscribe</button>
          </form>
        </div>

        <div class="author">&copy;2025 by Christian Tuk's</div>

      </footer>

      <section style="display: none;">
        <br>
        <br>
        <br>
        <br>
        <div class="calculatrice">
          <p class="title">Calculatrice :</p>
          <div class="board">
            Variable 1 : <input [(ngModel)]="var1" type="number">
            <br>
            Variable 2 : <input [(ngModel)]="var2" type="number">
            <br>
            <div class="button">
              <input type="button" value="Renverse valeur" (click)="reverse()">
              <input type="button" value="Add" (click)="add()">
              <input type="button" value="Reduc" (click)="reduce()">
              <input type="button" value="Multi" (click)="multiplication()">
              <input type="button" value="Divide" (click)="divide()">
            </div>
            <br>
            Resultat : <input [(ngModel)]="resultat" type="number">
            <br>
          </div>
        </div>
        <p>
          {{var1}}
          <!-- <input type="number" > -->

        </p>
        <div>
          <!-- 1. Interpolation (Affichage d'une variable) -->
          <p>{{ message }}</p>

          <!-- 2. Property Binding (Valeur par défaut sans modifier la variable) -->
          <input [value]="defaultValue" type="text">

          <!-- 3. Two-Way Binding (Liaison bidirectionnelle) -->
          <input [(ngModel)]="twoWayData" type="text">
          <p>Valeur modifiée : {{ twoWayData }}</p>

        </div>

        <br>
        <br>
        <br>
      </section>

    </div>
  </main>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
